:root {
    --linkColor: #2424ff;
    --linkColorHover: red;
    --lineColor: #2424ff;
    --bodyback: #b0b8ff;
    --bodyFont: sans-serif;
    --backColorContent: white;
    --titleColor: black;
    --bodyFontColor: black;
    --bannerBackground: url('../img/banner.jpg');
    --icoUrl: url('../img/icone.png');
    --titleAlign: center;
}